name: Continuous integration

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  check:
    name: Build all Runes
    strategy:
      matrix:
        include:
          - os: ubuntu-18.04
            nightly: rune.x86_64-unknown-linux-gnu.zip
          - os: macos-latest
            nightly: rune.x86_64-apple-darwin.zip
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cache/runes/
            target
          key: ${{ runner.os }}-${{ github.workflow }}-${{ github.job }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Fetch Rune Repo's Toolchain File
        run: wget https://raw.githubusercontent.com/hotg-ai/rune/master/rust-toolchain.toml
      - name: Update Rustup
        run: |
          # We need to update rustup because the mac version is out of date and
          # self-update is disabled. https://github.com/rust-lang/rustup/issues/2766
          curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain none -y
        if: runner.os == 'macOS'
      - name: Setup Rust
        run: |
          rustup show
          rustc --version --verbose
      - name: Install latest Rune binary
        run: |
          wget https://github.com/hotg-ai/rune/releases/download/nightly/${{ matrix.nightly }}
          unzip ${{ matrix.nightly }} -d ${{ runner.temp }}
          chmod +x ${{ runner.temp }}/rune
          cp ${{ runner.temp }}/rune .
          ${{ runner.temp }}/rune version --verbose
      - name: Install a cross-platform find utility
        uses: actions-rs/install@v0.1
        with:
          crate: fd-find
          version: latest
      - name: Delete all previous runes
        run: rm -f $(fd --glob '*.rune')
      - name: Build All Runes
        run: fd Runefile --exec '${{ runner.temp }}/rune' build --debug '{}'
      - name: Move all runes
        run: |
          mkdir runes
          fd --glob '*.rune' --exec-batch mv -t runes/
      - name: Upload compiled runes as artifacts
        uses: actions/upload-artifact@v2
        with:
          name: compiled-runes-${{ matrix.os }}
          path: runes
